@charset "UTF-8";
/* 共通部分 */
html {
  font-size: 62.5%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #333;
  min-width: 1000px;
  /*最小でも1000pxそれ以下で1000pxを保持する*/
  margin: 0;
  padding: 0;
  font-family: 'ヒラギノ角ゴシック', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', YuGothic, 'Yu Gothic', 'Yu Mincho Light', 'YuMincho', 'Yu Mincho', '游明朝体', sans-serif;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  vertical-align: bottom;
}

/*使い回し*/
.title {
  /*h2*/
  margin: 0 0 50px 0;
  font-size: 3.2rem;
  font-weight: 700;
  font-family: 'Noto Sans JP', sans-serif;
}

.text-box {
  /*p*/
  font-size: 1.6rem;
  font-weight: 300;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.8;
  margin: 0;
  letter-spacing: .2rem;
}

main {
  /*背景色*/
  background-color: #fff;
}

/*-----------------------------------*/
/*ヘッダー
/*-----------------------------------*/
.fixed-bg {
  /*背景の固定使い回し*/
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  /*imgと高さなど*/
  background-image: url(..//images/workswith-kv-min.jpg);
  position: relative;
  height: 75vh;
}

.header .logo {
  position: absolute;
  left: 60px;
  bottom: 60px;
  width: 297px;
}

/*-----------------------------------*/
/*セクショントップ・使い回し
/*-----------------------------------*/
.section-top {
  padding: 100px 0;
  text-align: center;
}

/*-----------------------------------*/
/*ワークス
/*-----------------------------------*/
.works {
  /*.fixed-bgともう一つのクラスへimgや高さを*/
  background-image: url(../images/bg.jpg);
  height: 100%;
  /*.container*/
}

.works .container {
  /*内側幅設定*/
  padding: 100px 0;
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  /*.contents*/
}

.works .container .title {
  color: #fff;
}

.works .container .contents {
  /*半透明のフレームを作る*/
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  /*.contents-inner*/
}

.works .container .contents .contents-inner {
  background-color: #fff;
  /*.contents-box*/
}

.works .container .contents .contents-inner .reverse {
  /*並び替え*/
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.works .container .contents .contents-inner .contents-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.works .container .contents .contents-inner .contents-box .works-photo {
  width: 50%;
}

.works .container .contents .contents-inner .contents-box .works-photo img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.works .container .contents .contents-inner .contents-box .text {
  /*box-sizing: border-box;ないとpaddingでwidth:50%崩れる・テキストの量で写真の大きさ変わる*/
  width: 50%;
  padding: 40px 20px;
}

.works .container .contents .contents-inner .contents-box .text h3 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.works .container .contents .contents-inner .contents-box .text .text-box {
  padding: 20px 0;
}

/*.works*/
.icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 780px;
  margin: 70px auto 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icon-wrapper a {
  width: 150px;
  height: 150px;
  line-height: 150px;
  border-radius: 50%;
  display: block;
  color: #333;
  background-color: #ECEAEB;
  font-size: 1.5rem;
  font-weight: bold;
}

.icon-wrapper a:nth-child(even) {
  background-color: #3B3B3B;
  color: #fff;
}

/*footer*/
.footer {
  padding: 20px;
  background-color: #000;
  position: relative;
}

.footer .footer-nav {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer-nav .list-right {
  position: absolute;
  right: 20px;
}

.footer .footer-nav .list-second {
  position: absolute;
  right: 200px;
}

.footer .footer-nav .footer-list {
  font-size: 1.2rem;
}

.footer .footer-nav .footer-list a {
  color: #fff;
  display: block;
}
